<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3" >
            <form action="/campgrounds" method="POST" class="needs-validation"  novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <!-- <div class="mb-3">
                    <label for="img" class="form-label">Image Url</label>
                    <input type="text" class="form-control" id="image" name="campground[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div> -->
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]"   aria-label="0" aria-describedby=""  required>
                    <div class="valid-feedback">
                        Looks good!
                      </div> 
                </div>
                </div>
                <div class="mb-3">
                    <label for="decription" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="location" name="campground[description]" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="image" name="image" multiple>
                    <label class="input-group-text" for="image">Upload</label>
                  </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>

            </form>
            <a href="/campgrounds"> All campgrounds</a>
        </div>
    </div>


    




